<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
            var totalCitEl = document.getElementById('total_cit');
            if (totalCitEl) {
                totalCitEl.innerHTML = data['citedby'];
            }
            var publications = data['publications'] || {};
            var citationEles = document.getElementsByClassName('show_paper_citations');
            Array.prototype.forEach.call(citationEles, function (element) {
                var paperId = element.getAttribute('data');
                var pub = publications[paperId];
                if (pub && pub['num_citations'] >= 5) {
                    var badgeUrl = 'https://img.shields.io/badge/citations-' + pub['num_citations'] + '-9cf?logo=Google%20Scholar&labelColor=f6f6f6&style=flat';
                    element.innerHTML = '<a href="https://scholar.google.com/citations?view_op=view_citation&user=geO5wcwAAAAJ&citation_for_view=' + paperId + '"><img src="' + badgeUrl + '" alt="citations"></a> ';
                }
            });
        });
    })
</script>
